.icon ul {
	display: flex ;
	position: absolute;
	top: 48%;
	left: 210.35px;
}


.icon ul li {
	list-style: none ;
}

.icon ul li a {
	 width: 30px; 								
	 height: 30px;								
	 background-color: #FFFFFF; 					
	 text-align: center; 
	 font-size: 20px; 							
	 line-height: 30px; 						
     margin: 0 10px; 							
	 display: block; 
	 border-radius: 50%;						 
	 position: relative;
	 overflow: hidden;
	 border: solid 3px #ffffff;
	 z-index: 2;
}

.icon ul li a .fa {
	position: relative;
	color: #262626; 				
	transition: .5s;
	z-index: 3;
}

.icon ul li a:hover .fa {
	color: #FFFFFF; 				
	transform: rotateY(360deg);
}


.icon ul li a:before {
	content: '';
	position: absolute;
	top: 100% ;
	left: 0% ;
	width: 100%;
	height: 100%;
	background-color: #FF0000;
	transition: .5s;
	z-index:1 ;
}

.icon ul li a:hover:before {
	top: 0 ;
}

.icon ul li:nth-child(1) a:before {
	background-color:#0077B5 ; 
}

.icon ul li:nth-child(2) a:before {
	background-color:#cd201f ;
}

.icon ul li:nth-child(3) a:before {
	background-color:#55acee ; 
}

.icon ul li:nth-child(4) a:before {
	background-color:#e4405f ; 
}

.icon ul li:nth-child(5) a:before {
	background-color:#FFFC00 ;
}
